.settings_page_expressbar .hide {
	display: none;
}
.settings_page_expressbar select {
	width: 25em;
}
.settings_page_expressbar #expressbar {
	top: 0;
	z-index: 999999;
}
.settings_page_expressbar .exb-action,
.settings_page_expressbar .dwpb-close {
	top: 5px;
	background: transparent !important;
}
.settings_page_expressbar .exb-action:before,
.settings_page_expressbar .dwpb-close:before {
	content: '\f343';
}
.settings_page_expressbar #expressbar.ramain-top {
	position: fixed;
}
.settings_page_expressbar .wp-picker-holder {
	position: absolute;
	z-index: 9999;
}
.settings_page_expressbar .submit {
	float: left;
	margin-right: 10px;
}
.settings_page_expressbar .ajax-load {
	padding-left: 5px;
}
.settings_page_expressbar .ajax-load img,
.settings_page_expressbar .ajax-load span {
	display: none;
}